
<h3>Choose size of your coffee</h3>
<div *ngIf='cup.cupProperties.size' class="choose-panel">
		<h4>Your current size is: <span>{{cup.cupProperties.size.size}} ({{cup.cupProperties.size.ml}} ml)</span></h4>
		<button class='btn' (click)="confirmSize()">Next step</button>
</div>
<div class="container">
	<div class="cup-list row">
		<div *ngFor="let cup of cup.cupsList" class="col-xs-3">
			<a [ngClass]="{'checked-cup':cup.checked}" (click)='defineSize(cup)' class="cup-wrap">
				<img src={{cup.img}} alt="">
				<h3>{{cup.size}}</h3>
			</a>
		</div>
	</div>
</div>
