<h3>Drag and drop to fill a cup</h3>
<div class='container' *ngIf="cup.definedCup.base">
  <div class="choose-panel">
    <div class="row">
      <div class="col-xs-3" *ngIf="cup.definedCup.size">
        <h5 class="info-cup">Cup size: {{cup.definedCup.size.size}} ({{cup.definedCup.size.ml}}) ml</h5>
      </div>
      <div class="col-xs-3">
        <h5 class="info-cup">Total calories: {{countCalories()}} kcal</h5>
      </div>
      <div class="col-xs-2">
        <h5 class="info-cup">Total price: {{countPrice()}} UAH</h5>
      </div>
      <div class="col-xs-4">
        <h5 class="info-cup">Sugar amount: {{cup.definedCup.sugar.message}}</h5>
      </div>
    </div>
    <button class="btn" (click)="showConfirm()">Ready</button>
  </div>
  <div class="row">
    <div *ngIf="messageState" class="info-message">
      Same coffee already has been created!<br>
      Coffe name:{{sameCoffee.name}}
      <button class="btn" (click)="orderSame()">Make and order</button>
    </div>
  </div>
  <div class="row fill-container">
    <div class="col-xs-5">
      <div class="cup-container">
        <div class="dragula-cup-wrap" >
          <div class="sugar-form"[tooltip]="'Select sugar amount'"
          tooltipPlacement="top">
            <button *ngFor="let item of sugarLevels"
                    (click)="putSugar(item)"
                    [ngClass]="{'sugar-active':item.state}">
                    {{item.amount}}
            </button>
          </div>
          <div class='dragula dragula-cup' [dragula]='"another-bag"' [dragulaModel]='cup.definedCup.adds' *ngIf="cup.definedCup.adds">
            <div *ngFor='let item of cup.definedCup.adds'
                  class={{item.addsType}}
                  [style.background]="item.color"
                  [tooltip]="item.name + ' (' + item.kkal + ' ccal' + ')' "
                  tooltipPlacement="right">
                  <div class="mask"></div>
            </div>
          </div>
          <div *ngIf="cup.definedCup.base" class="cup-base"
                [style.background]="cup.definedCup.base.color"
                [tooltip]="cup.definedCup.base.name + ' (' + cup.definedCup.base.kkal + ' ccal' + ')' "
                tooltipPlacement="right"></div>
        </div>
      </div>
    </div>
    <div class='dragula dragula-components col-xs-7' [dragula]='"another-bag"' [dragulaModel]='choosenIngredients'>
        <div *ngFor='let item of choosenIngredients'
          [ngClass]="{'nondragable':item.disabled}"
          class={{item.addsType}}>
          <div class="info">
            {{countIngredientPrice(item)}} UAH
            <hr>
            {{item.kkal}} kcal
          </div>
          <img src={{item.img}} alt="">
          <div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="message">{{item.message}}</div>
        </div>

    </div>
  </div>
</div>
