
<h3>Drag and drop to fill a cup</h3>
<div class='container'>
  <div class="choose-panel">
    <div class="row">
      <div class="col-xs-4">
        <p class="info-cup">Cup size: {{cup.definedCup.size.size}} ({{cup.definedCup.size.ml}}) ml</p>
      </div>
      <div class="col-xs-4">
        <p class="info-cup">Total calories: {{countCalories()}} kcal</p>
      </div>
      <div class="col-xs-4">
        <p class="info-cup">Total price: {{countPrice()}} UAH</p>
      </div>
    </div>
    <button (click)="finish()">Finish</button>
  </div>
  <div class="col-xs-6">
    <div class="cup-container">
      <div class="dragula-cup-wrap">
        <div class='dragula dragula-cup' [dragula]='"another-bag"' [dragulaModel]='cup.definedCup.adds'>
          <div *ngFor='let item of cup.definedCup.adds' class={{item.addsType}} [style.background]="item.color"></div>
        </div>
        <div class="cup-base" [style.background]="cup.definedCup.base.color"></div>
      </div>
    </div>
  </div>
  <div class='dragula dragula-components col-xs-6' [dragula]='"another-bag"' [dragulaModel]='choosenIngredients'>
    <div [ngClass]="{'nondragable':item.disabled}" *ngFor='let item of choosenIngredients' class={{item.addsType}}><img src={{item.img}} alt=""></div>
  </div>
</div>
