<h3>Your Coffee:</h3>
<div class='container' *ngIf="cup.definedCup.base">
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Kkal</th>
      <th>Price</th>
    </thead>
    <tr *ngIf="cup.cupProperties.base">
      <td>{{cup.cupProperties.base.name}}</td>
      <td>{{cup.cupProperties.base.kkal}}</td>
      <td>{{cup.cupProperties.base.price}}</td>
    </tr>
    <tr *ngFor='let item of cup.definedCup.adds'>
      <td>{{item.name}}</td>
      <td>{{item.kkal}}</td>
      <td>{{item.price}}</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td>{{getTotalKkal()}}</td>
      <td>{{getTotalPrice()}}</td>
    </tr>
  </table>
</div>
