<div class='container' *ngIf="cup.definedCup.size">
  <div class="final-bill">
    <h3>Your Coffee: {{cup.definedCup.name}}</h3>
    <ul>
      <li>Coffee size: {{cup.definedCup.size.size}}({{cup.definedCup.size.ml}}ml)</li>
      <li>Sugar amount: {{cup.definedCup.sugar.message}}</li>
      <li>Coffee base: <span class="current-base">{{cup.definedCup.base.name}}</span></li>
      <li>Coffee adds: <span class="add-component" *ngFor ="let item of cup.definedCup.adds">{{item.name}}</span></li>

    </ul>
    <table class="table">
      <thead>
        <th>Title</th>
        <th>Kkal</th>
        <th>Price</th>
      </thead>
      <tr>
        <td>{{cup.definedCup.base.name}}</td>
        <td>{{cup.definedCup.base.kkal}}</td>
        <td>{{cup.definedCup.base.price}}</td>
      </tr>

      <tr *ngFor='let item of cup.definedCup.adds'>
        <td>{{item.name}}</td>
        <td>{{item.kkal}}</td>
        <td>{{item.price}}</td>
      </tr>

      <tr>
        <td>Sugar</td>
        <td>{{cup.definedCup.sugar.kkal}}</td>
        <td>-</td>
      </tr>

      <tr>
        <td>TOTAL</td>
        <td>{{getTotalKkal()}}</td>
        <td>{{getTotalPrice()}}</td>
      </tr>
    </table>

    <button class="btn">Make an order</button>
  </div>
</div>
