/* You can add global styles to this file, and also import other style files */
*{
	box-sizing:border-box;
	font-family: 'Helvetica';
	color:#fff;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	color:#fff;
}


.container{
	min-width: 1170px;
	margin: auto;
}
a,a:hover,a:focus,a:visited{
	color: #fff;
	text-decoration: none;
	outline:none;
}
button{
	outline:none;
}
body{
	background:#181010;
	background-size: cover;
}

.main-screen{
	padding-top: 25px;
	padding-bottom:100px;
}
.main-screen h1{
	text-align: center;
  margin-bottom: 35px;
}
.coffee-box{
	background: rgba(62, 61, 61, 0.5);
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 25px;
	position: relative;
}
.coffee-box>a.remove-coffee{
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(assets/img/remove.png);
	top:-10px;
	right:-10px;
	cursor: pointer;
}
.coffee-box>h3{
	text-align: center;
}
.btn{
	color:#ffffff;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	background: none;
	border: 1px solid #fff;
	text-transform: uppercase;
	transition:0.3s;
	font-weight: 600;
}
.btn:hover, .btn:focus{
	background: #fff;
	color: #575555;
}

.coffee-box>a{
	width: 65%;
	padding: 8px;
}


.coffee-im{
	width: 128px;
	height: 128px;
	margin: auto;
}
.coffee-im-1{
	background: url(assets/img/cup1.png);
}
.coffee-im-2{
	background: url(assets/img/cup2.png);
}
.coffee-im-3{
	background: url(assets/img/cup3.png);
}

.more-btn{
	width: 150px;
	margin-top: 30px;
}

.main-screen hr{
	margin-top: 40px;
	margin-bottom: 30px;
}

/*    Size component     */
.create-btn{
	width: 300px;
	height: 50px;
	padding-top: 15px;
	font-size: 15px;
	margin-top: 40px;
	font-weight: bold;
	border-radius: 5px;
}

.cup-list{
	margin-top: 20px;
}
.cup-wrap{
	display: block;
	margin: auto;
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 5px;
	transition:0.3s;
	height: 300px;
}
.cup-wrap>img{
	display: block;
	margin: auto;
}
.cup-wrap:hover{
	border: 1px solid rgba(255, 255, 255, 1);
	cursor: pointer;
}
.checked-cup{
	border: 1px solid rgba(255, 255, 255, 1);
}



/*********Coffee config page********/

.choose-panel{
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	background: rgba(56, 50, 52, 0.3);
}
.choose-panel>button{
	display: block;
  background: none;
  border: 1px solid #fff;
  padding: 10px 30px;
	margin: auto;
  margin-top: 25px;
	transition: 0.3s;
}
.choose-panel>button:hover{
	display: block;
  background: none;
	background: #fff;
  border: 1px solid #fff;
}
.info{
	position: absolute;
  right: 5%;
  top: 4%;
  background: #4c312c;
  line-height: 14px;
  font-size: 14px;
  padding: 5px;
  border-radius: 12px;
	text-align: center;
}
.info>hr{
	margin: 2px 0;
}
.adds-info{

}
/*          Base component               */
.base-list{
	margin-top: 30px;
}
.current-base{
	display: inline-block;
	font-size: 16px;
  background: #4c312c;
  padding: 10px;
	margin-left: 30px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
}
.adds-list{
	width: 80%;
	margin: auto;
}
.add-component{
	background: #5d3a3a;
  display: inline-block;
  margin: 10px;
  padding: 7px;
	position: relative;
}
.delete-btn{
	position: absolute;
	top: -6px;
	right: -8px;
	background: url('assets/img/delete.png');
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: none;
}
.config-steps{
	background:rgba(74, 74, 74, 0.5);
	padding: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-around;
}
.step-index{
	padding: 4px 9px;
	font-weight: 600;
	font-size: 18px;
	border: 1px solid #a19694;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-radius: 20px 7px 20px 7px;
	color: #fff;
	background: #4c312c;
}
.config-steps>button{
	display: inline-block;
	width: 24%;
	font-size: 18px;
	padding: 15px;
	background: #1e1b1b;;
	border: none;
	text-align: left;
}
.config-steps>button.avaliable{
	background: #4f3f3f;
}
.config-steps>button.active{
	-webkit-box-shadow: 0px 0px 5px 1px rgb(155, 146, 146);
	-moz-box-shadow: 0px 0px 5px 1px rgb(155, 146, 146);
	box-shadow: 0px 0px 5px 1px rgb(155, 146, 146);
	background: #4c3d3d;
}
.config-steps>button.active span.step-index{
	color:#4c312c;
	border-color: #fff;
	background: #fff;
}


.checked-item{
	position: absolute;
	background: url('assets/img/checked.png');
	width: 24px;
	height: 24px;
	left: 10px;;
	top: 10px;
}
.component-item{
	display: block;
	padding: 20px;
	transition:0.3s;
	position: relative;
}
.component-item:focus{
	background: rgba(78, 76, 76, 0.5);
	cursor: pointer;
}
.component-item:hover{
	background: rgba(78, 76, 76, 0.5);
	cursor: pointer;
}
.component-item>img{
	width: 60%;
	height: 60%;
	display: block;
	margin: auto;
}
.component-item>h5{
	font-weight: bold;
}
.filter-buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-around;
}
.filter-buttons>button{
	background: #3e3434;
  border: none;
  padding: 10px 40px;
  font-weight: 600;
  border-radius: 10px;
	width: 19%;
	outline:none;
}
.filter-buttons>button.filter-active{
	background: #fff;
	color: #3e3434;
}
.filter-buttons{
	margin-top: 30px;
	margin-bottom: 20px;
}

.create-btn{
	display: block;
}

/***********Fill in cup**********/
.fill-container{
	padding-top: 30px;
}

.dragula>div{
    cursor:move;
}
.info-cup{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.cup-container{
	width: 242px;
	height: 400px;
	background: url(assets/img/cup-wrap.png) no-repeat center;
	margin: auto;
	padding-top: 40px;
}
.sugar-form{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 15px;
	height: 25px;
}
.sugar-form>button{
	display: block;
  width: 15%;
  background: none;
  border: 2px solid #e0e4f5;
  border-radius: 20%;
  color: #e0e4f5;
}
.sugar-form>button.sugar-active{
	color:#181010;
	background: #e0e4f5;
}
.dragula-cup-wrap{
	height: 315px;
	width: 210px;
	margin: auto;
}
.dragula-cup{
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	height: 60%;
}
.cup-base{
	height: 40%;
	border-top: 10px solid #b96d0f;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.dragula-cup>div{
	/*border-radius: 20px;*/
	/*border-top:4px solid #181010;*/
	position: relative;

}
.mask{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(23, 23, 23, 0.4);
	transition: 0.3s;
	z-index: 20;
}
.dragula-cup>div:hover .mask{
	opacity: 1;
}

.dragula-cup>div.milk{height: 60%;}
.dragula-cup>div.alcohol{height: 25%;}
.dragula-cup>div.syrops{height: 25%;}
.dragula-cup>div.chocolate{height: 15%;}



.dragula-components{
	min-height: 200px;
	border: 1px solid #e0e4f5;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0;
}
.dragula-components>div{
	width: 33.333%;
	transition: 0.3s;
	padding: 30px;
	position: relative;
}
.message{
	display: none;
	text-align: center;
	position: absolute;
	bottom:10px;
	left: 0;
	right: 0;
}
.nondragable{
	pointer-events: none;
	background: rgba(141, 43, 43, 0.4);
}
.nondragable>div.message{
	display: block;
}
.dragula-components>div>img{
	width: 60%;
	display: block;
	margin: auto;
}

.dragula-components>div:hover{
	background: rgba(78, 76, 76, 0.5);
}

.dragula-cup .gu-transit>img, .dragula-cup .gu-mirror>img{
	display: none;
}

.gu-mirror div, .gu-transit div{
	display: none;
}

.dragula-cup .gu-transit, .dragula-cup .gu-mirror{
	background: #fff;
	border-radius: 30%;
	transition: 0.5s;
}
.tooltip-inner{
	font-size: 16px;
}


/*          Modal         */
.modal-content {
	background-color: #181010;
	margin-top: 120px;
	border: 1px solid #2e2c2c;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #3e3636;
}
.modal-body {
	padding: 31px 15px 42px 15px;
}

.form-control {
	display: block;
	width: 70%;
	margin: auto;
	margin-bottom: 15px;
	height: 41px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #f6f1f1;
	outline: none;
	border: 1px solid #faf8f8;
	background: none;
	border-radius: 0;
}
.form-control:focus {
	border: 1px solid #faf8f8;
	outline: none;
}
.search-form{
	width: 31%;
}
.form-btn{
	padding: 9px 44px;
  border-radius: 0;
}
.img-loader{
  display: block;
  margin: 50% auto;
  width: 100px;
}

.final-bill{
	width: 900px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 100px;
}
.final-bill>h3{

}
.final-bill>ul{
	padding-left: 0;
	list-style: none;
	margin-top: 40px;
}
.final-bill>ul>li{
	margin-bottom: 20px;
	font-size: 16px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
	margin-top: 35px;
}

.fsLoader{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 1080px;
  background-color: #181010;
  box-sizing: border-box;
  overflow: auto;
}
.fsLoader > img{
  display: block;
  margin: 100px auto;
}


.btn-home {
  width: 110px;
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
  background: #312d2d;
	padding-top: 10px;
  border: none;
}
.btn-home:hover {
	background: #4c312c;
	color:#fff;
}
.btn-home:focus {
	outline:none;
	border: 0;
}
.btn-reset {
	width: 110px;
	border-bottom-right-radius: 34px;
	border-bottom-left-radius: 34px;
	background: #312d2d;
	padding-top: 10px;
	border: none;
	margin-top: 0;
}
.btn-reset:hover {
	background: #4c312c;
	color:#fff;
}
.btn-reset:focus {
	outline:none;
	border: 0;
}
form>input.owner-name{
	width: 300px;
  padding: 10px;
  display: block;
  margin: auto;
  border: 0;
  background: none;
  border-bottom: 1px solid #fff;
  margin-top: 50px;
	outline: none;
}
form>input.owner-name:focus{
	outline: none;
}

.cff-selector {
  display: block;
  margin: 10px auto 30px auto;
  max-width: 275px;
}
.cff-selector:after{
  clear: both;
  content:"";
  display: table;
}
.login-box{
	width: 200px;
  background: rgba(29, 58, 220, 0.3);
  padding: 18px;
	position: absolute;
}
.login-box>p{
	text-align: center;
}
.selector{
	color: white;
	display: block;
	margin: auto;
	background: none;
	padding: 5px;
}
.selector option{
  color: black;
}
